$app-main-dark: rgb(35, 30, 27);
$app-main-light: rgb(68, 60, 57);
$app-main-font-color:  #6d6662;
$app-gray: rgb(115, 111, 108);
$app-brown: rgb(175, 141, 114);
$app-main-bg: rgb(227,233,233);
$app-main-bg-color: #E6ECEC;

html {
  height: auto !important;
}
// index
.main-wrapper {
  overflow: hidden;
  position: relative;
  .content-wrapper {
    z-index: 9;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.bg-pattern-one {
  background-image: url("~assets/img/bg/bg_01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 46rem;
  width: 37%;
  right: 0;
  position: absolute;
  top: 8%;
  z-index: 1;
}
.bg-pattern-two {
  background-image: url("~assets/img/bg/bg_02.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  width: 45rem;
  left: 0;
  position: absolute;
  top: 64rem;
  z-index: 1;
}
.bg-pattern-three {
  background-image: url("~assets/img/bg/bg_03.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  width: 37%;
  right: 0;
  position: absolute;
  top: 121rem;
  z-index: 1;
}
.bg-pattern-four {
  background-image: url("~assets/img/bg/bg_04.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  width: 37%;
  left: 0;
  position: absolute;
  top: 157rem;
  z-index: 1;
}
.bg-pattern-five {
  background-image: url("~assets/img/bg/bg_05.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  width: 37%;
  right: 0;
  position: absolute;
  top: 193rem;
  z-index: 1;
}
.bg-pattern-six {
  background-image: url("~assets/img/bg/bg_06.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 69rem;
  width: 37%;
  left: 0;
  position: absolute;
  z-index: 1;
  top: 260rem;

  @media screen and (max-width: 768px) {
    height: 47rem;
    width: 36rem;
    top: 290rem;
  }
}

.bg-pattern-seven {
  background-image: url("~assets/img/bg/bg_07.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 69rem;
  width: 37%;
  right: 0;
  position: absolute;
  top: 333rem;
  z-index: 1;
  @media screen and (max-width: 768px) {
    height: 39rem;
    width: 34rem;
    top: 377rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $app-main-bg-color;
  color: $app-gray;
  transition: all 300ms;
  font-size: 1.4rem;
}
p {
  font-family: "Crimson Text", serif;
  font-size: 1.7rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: $app-main-font-color;

  @media screen and (max-width: 768px) {
    text-align: center;
    margin: 0 auto;
    width: 92%;
  }
}

.bar-top-line-center,
.bar-top-line-left,
.bar-top-line-right {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 0.4rem;
    width: 2.5rem;
    background-color: #443c39;
    top: 2rem;
  }
}

.bar-top-line-right {
  &:before {
    right: 0;
  }
}

.bar-top-line-center {
  &:before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.bar-top-line-left,
.bar-top-line-right {
  &:before {
    @media screen and (max-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.bar-top-line-center {
  @media screen and (max-width: 425px) {
    padding-top: 4rem;
  }
}

p.app-top-line, p.app-top-line-right, p.app-top-line-center, b.app-top-line-center{
  position: relative;
  &:before {
    position: absolute;
    content: "";
    height: 0.5rem;
    background-color: $app-main-light;
    width: 3rem;
    @media screen and (max-width: 768px){
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
p.app-top-line-right {
  @media screen and (min-width: 1024px) {
    margin-right: 2rem;
  }
  &:before {
    right: 0;
  }
}
b.app-top-line-center {
  &:before {
    left: 50%;
      transform: translateX(-50%);
  }
}
p.app-top-line-center {
  @media screen and (max-width: 450px) {
    margin-top: 3rem;
  }
  &:before {
    left: 50%;
      transform: translateX(-50%);
  }
}

h1 {
  color: $app-main-light;
}
h3 {
  color: $app-brown;
}

.title {
  color: $app-main-light;
  font-size: 5rem;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.28rem;
  position: relative;
  height: auto;
  @media screen and (max-width: 912px) {
    font-size: 4.3rem;

  }
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.subtitle {
  color: $app-brown;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
  @media screen and (max-width: 912px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  @media screen and (max-width: 475px) {
    text-align: center;
    font-size: 2rem;
  }
}
.line-bot {
  background-color: $app-main-dark;
  width: 2rem;
  height: 0.5rem;
}
hr {
  border: 0.2px solid;
}

.app-subtitle {
  color: $app-brown;
  @apply tracking-wider font-semibold;
  font-size: 1.4rem;
  @media screen and (max-width: 425px) {
    font-size: 1.3rem;
  }
}

.app-title {
  color: $app-main-light;
  @apply font-semibold mb-0;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  @media screen and (max-width: 425px) {
    font-size: 4.2rem;
    margin-top: 3rem;
  }
}

.app-btn {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid $app-brown;
  padding: 0.5rem 1rem;
  color: $app-main-light;
  outline: none;
  font-size: 1.2rem;
  @apply font-semibold tracking-wide px-5;
  transition: all 300ms;
  @media screen and (max-width: 320px) {
    margin-bottom: 1rem;
  }
  &:hover,
  &:active {
    background-color: $app-brown;
    color: #fff;
  }
}

.bottom-bar {
  border-bottom: 5px solid $app-main-light;
  height: 5px;
  padding: 1px 11px;
}

.app-spacer {
  margin-top: 23rem;
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}

// BG WINES
.dynamic-bg-color {
  background: rgba(244, 242, 229, 1);
  background: -moz-linear-gradient(
    top,
    rgba(244, 242, 229, 1) 0%,
    var(--bg-color) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(244, 242, 229, 1)),
    color-stop(100%, var(--bg-color))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(244, 242, 229, 1) 0%,
    var(--bg-color) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(244, 242, 229, 1) 0%,
    var(--bg-color) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(244, 242, 229, 1) 0%,
    var(--bg-color) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(244, 242, 229, 1) 0%,
    var(--bg-color) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2e5', endColorstr='#f6dd9a', GradientType=0 );
  background-repeat: no-repeat;
}
