.header-shape-container {
  @media screen and (min-width: 426px) {
    mask-image: url("~assets/img/header_shape.svg");
    height: 37rem;
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-bottom: 10rem;
    background-size: contain;
    background-position: center center;
  }

  @media screen and (max-width: 425px) {
    // mask-image: initial;
    // -webkit-mask-image: initial;
    mask-image: url("~assets/img/header_shape.svg");
    mask-size: 96rem;
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 13rem;
    margin-bottom: 3rem;
    background-size: contain;
    background-position: center center;
  }
  @media screen and (max-width: 768px) {
    height: 28rem;
    background-size: cover;
    // background-position-y: 94%;
    background-position: center center;
  }
}

.home-header-shape {
  @media screen and (min-width: 426px) {
    // mask-image: url("~assets/img/Home_Image_New.png") !important;
    mask-image: initial;
    background-image: url("~assets/img/Home_Image_New.png") !important;
    height: 74rem;
    margin-top: 0rem;
    background-position: center center;
    background-size: cover;
  }
}

.app-wrapper-image-right,
.app-wrapper-image-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  grid-gap: 2.5rem;
  @media screen and (min-width: 769px) {
    margin: 0 8rem;
  }
  // @media screen and (max-width: 375px) {
  //   grid-template-rows: 1fr 1fr;
  // }

  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}
.app-wrapper-image-right {
  .content {
    display: grid;
    // grid-template-rows: auto;
    p {
      padding-top: 4rem;
    }
    .header {
      height: auto;
      @media screen and (max-width: 425px) {
        height: auto;
      }
    }
  }
  .images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (width: 375px) {
      // grid-template-columns: auto;
    }
    @media screen and (min-width: 769px) {
      img:nth-child(1) {
        position: relative;
        top: 13rem;
        right: -8rem;
      }
      img:nth-child(2) {
        position: relative;
      }
    }
    @media screen and (max-width: 768px) {
      padding-top: 4rem;
      max-width: 80%;
      margin: 0 auto;
      img {
        margin-bottom: 0.5rem;
      }
    }
  }
}
.app-wrapper-image-left {
  .content {
    display: grid;
    // grid-template-rows: 0.1fr 1.7fr 1fr 1fr;
    p {
      padding-top: 4rem;
    }
  }
  .images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media screen and (min-width: 769px) {
      img:nth-child(1) {
        position: relative;
        top: 13rem;
      }
      img:nth-child(2) {
        position: relative;
      }
    }
    @media screen and (max-width: 768px) {
      padding-top: 4rem;
      max-width: 80%;
      margin: 0 auto;
      img {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.app-buttons {
  display: inline;
  button {
    transition: all 1s;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 0.2rem solid $app-brown;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-right: 1rem;
    &:hover {
      background-color: $app-brown;
      color: #fff;
    }
  }
  &:last-child {
    button {
      margin-right: 0rem;
    }
  }
}
.app-button-wrapper {
  margin: 3rem auto;
}
.app-wrapper-image-left {
  text-align: right;
}
.center-content-wrapper {
  display: grid;
  text-align: center;
  @media screen and (min-width: 1024px) {
    & > p {
      margin: 0 23rem;
      padding-top: 4rem;
    }
  }
}

.center-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: 2rem;
  @media screen and (min-width: 1024px) {
    grid-gap: 0rem;
    max-width: 88rem;
    margin: 0 auto;
  }
  .image-btn {
    img {
      height: 41rem;
      margin: 0 auto;
    }
  }
}
.events-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  @media screen and (min-width: 769px) {
    width: 88rem;
    margin: 4rem auto;
  }
  @media screen and (max-width: 425px) {
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    padding-left: 1rem;
  }
  .event-item-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    text-align: left;
    @media screen and (max-width: 768px) {
      p {
        text-align: left;
        margin: 0;
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h1 {
      font-size: 1.7rem;
      font-weight: bold;
      margin: 0;
    }
  }
}

.app-bot-bar {
  width: 4rem;
  margin: 0 auto;
  border-bottom: 0.5rem solid #443c39;
  @media screen and (max-width: 475px) {
    margin-top: 1rem;
  }
}

// .lazyLoad {
//   filter: blur(3px);
//   -webkit-filter: blur(3px);
// }

// .isLoaded {
//   filter: blur(0px);
//   -webkit-filter: blur(0px);
// }
